<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ block('title') }} ‒ {{ album.title }}</title>
        {% block stylesheets %}{{ encore_entry_link_tags(album.slug) }}{% endblock %}
        <base href="{{ getRoute(null) }}">
        <meta name="author" content="Rafał Toborek">
        <meta name="copyright" content="Rafał Toborek">
        <meta name="robots" content="index, follow">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="description" content="{{ block('description')|striptags }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ getRouteWithPagination('') }}">
        {% if block('image') is defined %}
            <meta property="og:image" content="{{ block('image') }}">
        {% endif %}
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:description" content="{{ block('description')|striptags }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/favicon/pstryk.png') }}">
        <link rel="alternate" type="application/rss+xml" title="{{ album.title }} RSS" href="{{ album.feedUrl }}">
    </head>
    <body>
        <div class="container">
            <main>
                {% block body %}{% endblock %}
            </main>

            <footer>
                <div class="row">
                    <div class="col-12 col-md-6 text-center align-self-center">
                        <a href="https://kontakt.toborek.info" target="_blank">Napisz do mnie</a> lub
                        <a href="{{ album.feedUrl }}" target="_blank">zasubskrybuj kanał RSS</a><br>
                        Przejrzyj listę <a href="{{ getRoute('sitemap') }}">wszystkich albumów</a>
                    </div>

                    <div class="col-12 col-md-6 text-center align-self-center">
                        Z potrzeby serca &copy; 2020-{{ 'now'|date('Y') }}  <a href="https://toborek.info" target="_blank">Rafał Toborek</a>
                        <br>
                        Proszę nie upubliczniać bez wcześniejszej zgody
                    </div>
                </div>
            </footer>
        </div>

        {{ encore_entry_script_tags(album.slug) }}
        {{ getMatomoCode(19)|raw }}

        {% block javascripts %}{% endblock %}
    </body>
</html>
