{% extends 'album/pstryk/base.html.twig' %}

{% block title %}Rafał Toborek{% endblock %}
{% block description %}Czas płynie, a ja staram się pozostawić swój ślad...{% endblock %}
{% block image %}{% if items[0] is defined and items[0].mainImage is not empty %}{{ getRoute(null) }}/{{ items[0].mainImage.filePath.thumbPublicPath }}{% endif %}{% endblock %}

{% block body %}
    {% if items is defined %}
        {% for item in items %}
            <div class="row frame">
                <div class="frame-title col-12 text-center">
                    <a href="{{ getRoute(item.slug) }}">{{ item.title }}</a>
                </div>

                <div class="frame-date col-12 text-center" data-date="{{ item.date|date('r') }}" title="{{ item.date|date('Y . m . d') }}">
                    {{ item.date|date('Y . m . d') }}
                </div>

                {% if item.description is not empty %}
                    <div class="frame-description col-12 text-center">
                        {{ item.description|nl2br }}
                    </div>
                {% endif %}

                <div class="frame-thumb col-12 text-center">
                    <a href="{{ getRoute(item.slug) }}">
                        {% if item.mainImage is not empty %}
                            <img src="{{ item.mainImage.filePath.thumbPublicPath }}" class="img-fluid" alt="{{ item.title }}">
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="paginator">
        <div class="col-12">
            {{ knp_pagination_render(items, template = 'album/parts/pagination.html.twig', viewParams = {'align': 'center'}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ include('album/pstryk/item_js.html.twig') }}
{% endblock %}
