{% macro display_form(form) %}
    {{ form_start(form) }}

    {% for fieldId, value in form.children %}
        {% if fieldId != 'save' and fieldId != 'back' and fieldId != '_token' %}
            {# if no label then this field should be propably hidden #}
            {% if value.vars.label is empty %}
                {{ form_widget(value, {
                    'contentData': form.vars.data,
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            {% else %}
                <div class="row vcenter">
                    <div class="col-lg-3 form-row-separator text-right">
                        {% if value.vars.attr.merge_label is not defined %}
                            {% if value.vars.required %}
                                <span class="form-required">*</span>
                            {% endif %}

                            {{ value.vars.label }}:
                        {% endif %}
                    </div>
                    <div class="col-lg-9 form-row-separator">
                        {{ form_errors(value) }}

                        {% set fieldClass = 'form-control' %}
                        {% if value.vars.attr.class is defined %}
                            {% set fieldClass = fieldClass ~ ' ' ~ value.vars.attr.class %}
                        {% endif %}
                        {% if fieldId == 'password' or value.vars.attr.merge_label is defined %}
                            {% set fieldClass = '' %}
                        {% endif %}

                        {{ form_widget(value, {
                            'contentData': form.vars.data,
                            'attr': {
                                'class': fieldClass
                            }
                        }) }}

                        {% if value.vars.attr.merge_label is defined %}
                            <label for="{{ value.vars.id }}">{{ value.vars.label }}</label>
                        {% endif %}

                        {% if value.vars.attr.help is defined %}
                            <div class="form-help">
                                {{ value.vars.attr.help }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {%- do value.setRendered() -%}
        {% endif %}

        {% if fieldId == '_token' %}
            {{ form_widget(value) }}

            {%- do value.setRendered() -%}
        {% endif %}
    {% endfor %}

    <div class="row">
        <div class="col-lg-4 offset-lg-4 text-center form-row-separator required-label">
            Wszystkie pola oznaczone <span class="form-required">*</span> są wymagane
        </div>
    </div>

    {% include 'admin/parts/form_buttons.html.twig' %}

    {{ form_end(form) }}
{% endmacro %}
