<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ block('title') }} ‒ {{ album.title }}</title>
        {% block stylesheets %}{{ encore_entry_link_tags(album.slug) }}{% endblock %}
        <base href="{{ getRoute(null) }}">
        <meta name="author" content="Rafał Toborek">
        <meta name="copyright" content="Rafał Toborek">
        <meta name="robots" content="noindex, nofollow, noarchive">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="description" content="{{ block('description')|striptags }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/favicon/tysia.png') }}">
    </head>
    <body>
        <div class="container">
            <main>
                {% block body %}{% endblock %}
            </main>

            <footer class="row">
                <div class="col-12 footer-inscription text-center">
                    &hearts; Zu.
                </div>
                <div class="col-12 text-center">
                    Publikowanie na portalach społecznościowych będzie bardzo niemile widziane.
                    <br>
                    &copy; 2020-{{ 'now'|date('Y') }} <a href="https://tora.art.pl" target="_blank">Rafał Toborek Fotografia</a>
                </div>
            </footer>
        </div>

        {{ encore_entry_script_tags(album.slug) }}
        {{ getMatomoCode(20)|raw }}

        {% block javascripts %}{% endblock %}
    </body>
</html>
