{% extends 'album/stalker/base.html.twig' %}

{% block title %}Rafał Toborek{% endblock %}
{% block description %}Inspiracją do stworzenia tego albumu była książka braci Strugackich pt. <a href="https://pl.wikipedia.org/wiki/Piknik_na_skraju_drogi" target="_blank">Piknik na skraju drogi</a>. To właśnie do tej książki odsyłam cię jeśli chcesz dowiedzieć się kim są stalkerzy i czym się zajmują.{% endblock %}
{% block image %}{% if items[0] is defined %}{{ getRoute(null, null) }}/{{ items[0].mainImage.thumbsPublicPath }}{% endif %}{% endblock %}

{% block body %}
    {% if items is defined %}
        {% for item in items %}
            <div class="row">
                <div class="frame-title col-10 col-sm-8">
                    {{ item.title }}
                </div>
                <div class="frame-date col-2 col-sm-4 text-right">
                    {{ item.date|date('Y-m-d') }}
                </div>

                <div class="frame-thumb col-12 text-center">
                    <a href="{{ getRoute('', item.slug) }}">
                        <img src="/{{ item.mainImage.thumbsPublicPath }}" class="img-fluid" alt="{{ item.title }}">
                    </a>
                </div>

                <div class="frame-description col-12 text-center">
                    {{ item.description }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="paginator">
        <div class="col-12">
            {{ knp_pagination_render(items, viewParams = {'align': 'center'}) }}
        </div>
    </div>
{% endblock %}
