{% extends 'album/stalker/base.html.twig' %}

{% block title %}{{ item.title }}{% endblock %}
{% block description %}{{ item.description }}{%  endblock %}
{% block image %}{% if item.mainImage is defined %}{{ getRoute(null) }}/{{ item.mainImage.thumbsPublicPath }}{% endif %}{%  endblock %}

{% block body %}
    <div class="row">
        <div class="item-title col-12 text-center">
            {{ item.title }}
        </div>

        <div class="item-date col-12 text-center">
            {{ item.date|date('Y-m-d') }}
        </div>

        <div class="col-12 text-center">
            <div class="item-map"></div>
        </div>

        <div class="item-more col-12 text-center">
            <a href="https://maps.google.com/?q={{ item.latitude }},{{ item.longitude }}" target="_blank" class="btn btn-secondary">pokaż na większej mapie</a>
        </div>

        <span class="item-image-gallery">
            {% for image in item.images %}
                <div class="col-12 item-image text-center">
                    <a href="{{ image.imagesPublicPath }}">
                        <img src="{{ image.thumbsPublicPath }}" class="img-fluid" alt="{% if image.description is empty %}{{ item.description }}{% else %}{{ image.description }}{% endif %}">
                    </a>
                </div>
                {% if image.description is not empty %}
                    <div class="col-12 item-image-description text-center">
                        {{ image.description }}
                    </div>
                {% endif %}
            {% endfor %}
        </span>
    </div>

    <div class="row item-menu-bottom">
        {{ include('album/stalker/item_menu.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ include('album/stalker/item_js.html.twig') }}
{% endblock %}
