<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, follow, noarchive">
        <meta name="author" content="Rafał Toborek">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/favicon/admin.png') }}">
        <base href="{{ app.request.server.getHeaders()['HOST'] }}">
        <title>{% block title %}{% if title is defined %}{{ title }}{% endif %}{% endblock %} ‒ Tron Mistrza</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_admin_item_list') }}">Tron Mistrza</a>

                {% if app.user %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item{% if getControllerName() == 'admin' and getActionName() == 'addItem' %} active{% endif %}">
                                <a class="nav-link" href="{{ path('app_admin_item_add', {'return': app.request.uri}) }}">Dodaj zestaw zdjęć</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_admin_logout') }}">Wyloguj</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>

        <main>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>

        <footer class="text-center">
            &copy; 2020 <a href="https://toborek.info" target="_blank">Rafał Toborek</a>
            <br>
            Powered by Symfony Framework v5
        </footer>
    </body>
</html>
