<div class="frame-thumb frame-thumb-left col-6 text-right">
    <a href="{{ getRoute(item.slug) }}">
        <img src="{{ item.images[0].filePath.thumbPublicPath }}" class="img-fluid"
         width="{{ item.images[0].imageDetails.thumbWidth }}"
         height="{{ item.images[0].imageDetails.thumbHeight }}"
             alt="{{ item.title }}">
    </a>
</div>

<div class="frame-thumb frame-thumb-right col-6 text-left">
    <a href="{{ getRoute(item.slug) }}">
        <img src="{{ item.images[1].filePath.thumbPublicPath }}" class="img-fluid"
             width="{{ item.images[1].imageDetails.thumbWidth }}"
             height="{{ item.images[1].imageDetails.thumbHeight }}"
             alt="{{ item.title }}">
    </a>
</div>
