<div class="frame-thumb frame-thumb-left col-4 text-center vcenter">
    <a href="{{ getRoute(item.slug) }}">
        <img src="{{ item.images[0].filePath.thumbPublicPath }}" class="img-fluid"
             width="{{ item.images[0].imageDetails.thumbWidth }}"
             height="{{ item.images[0].imageDetails.thumbHeight }}"
             alt="{{ item.title }}">
    </a>
</div>

<div class="frame-thumb col-4 text-center vcenter">
    <a href="{{ getRoute(item.slug) }}">
        <img src="{{ item.images[1].filePath.thumbPublicPath }}" class="img-fluid"
             width="{{ item.images[1].imageDetails.thumbWidth }}"
             height="{{ item.images[1].imageDetails.thumbHeight }}"
             alt="{{ item.title }}">
    </a>
</div>

<div class="frame-thumb frame-thumb-right col-4 text-center vcenter">
    <a href="{{ getRoute(item.slug) }}">
        <img src="{{ item.images[2].filePath.thumbPublicPath }}" class="img-fluid"
             width="{{ item.images[2].imageDetails.thumbWidth }}"
             height="{{ item.images[2].imageDetails.thumbHeight }}"
             alt="{{ item.title }}">
    </a>
</div>
